@import 'variables';
@import 'setup';

div {

    & section {
        width: 100%;
        margin: 50px auto 40px;

        & .wrapper {
            margin-right: auto;
            margin-left: auto;
            max-width: 1024px;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;

            & .content {
                // overflow: hidden;
                // display: inline-flex;
                // max-width: inherit;

                & .bg-loading {
                    background-color: $bg-light;
                }
            }
        }
    }

    .align-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .align-left {
        display: flex;
        justify-content: left;
        align-items: center;
    }
}
