// SET COLORS
$red: #FF5656;
$blue: #009CDA;
$green: #00BE3B;
$grey-primary: #777777;
$grey-secundary: #666666;
$bg-light: #F5F5F5;
$gradient-hot: linear-gradient(244deg, #EB5757 0%, #F2994A 100%);
$gradient-ice: linear-gradient(261.26deg, rgba(12, 161, 223, 0.55) 0%, rgba(255, 132, 8, 0.55) 99.62%);

// SET BORDER
$border-grey: 1px solid #999999;
$border-white: 1px solid #ffffff;

// SET SHADOWS
$shadows: ("light": 4px 4px 10px rgba(0, 0, 0, 0.15),
    "heavy": 4px 4px 10px rgba(0, 0, 0, 0.25),
    "default": 4px,
);
